.org-chart {
  .v-line {
    border-right: 1px solid $gray-500;
    height: 25px;
    width: 50%;
  }
  .employee {
    position: relative;
    .btn.btn-link {
      position:absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .h-line-r {
      position: absolute;
      border-bottom: 1px solid $gray-500;
      height: 1px;
      width: 30px;
      right: -30px;
      top: 50%;
    }
  }

}